{% extends "_layouts/admin/main.html.twig" %}

{% block title %}
    Categories {{ parent() }}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="card-title">Update Category: {{ form.category_name.vars.data }}</h4>
                        <p class="text-muted mb-0">i. Update this category using the information fields below.</p>
                    </div>

                    <div class="button-items">
                        <a href="{{ url('admin_category_list') }}" type="button" class="btn btn-outline-primary">Back to list</a>
                    </div>
                </div><!--end card-header-->
                <div class="card-body">
                    {{ form(form) }}
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div>
{% endblock %}
